body {
  margin: 0;
  background-color: #282c34;
  color: #fff;
}

.App-logo {
  width: 25px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  height: 50px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrapper {
  display: flex;
  align-items: stretch;
}

.left-panel {
  border: 0.5px solid #fff;
  min-height: 300px;
  margin: 10px;
  min-width: 200px;
}

.left-panel ul {
  list-style-type: none;
  position: sticky;
  top: 106px;
}

.left-panel ul li {
  margin-bottom: 15px;
}

.right-panel {
  text-decoration: none;
  margin: 10px;
}

.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  margin: 1rem;
  position: relative;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  text-decoration: none;
  color: #282c34;
  padding: 20px;
}